:root{
    --bg-black-900: #151515;
    --bg-black-100: #222222; 
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

.Image-container{
    flex: 0 0 60%;
    margin-right: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.Image img{
    object-fit: contain;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.InfoContainer{
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    padding: 20px;
}

@keyframes imageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Image {
    animation: imageFadeIn 2s forwards;
}
@keyframes imageScroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 100vh));
    }
}

.Image-container img{
    animation: imageScroll 30s infinite;
    animation-delay: 10s;
    animation-fill-mode: both;
}

.Image-container img:hover{
    animation-play-state: paused;
}

.Image-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.UpSection{
    display: flex;
    flex: 0 0 10%;
    max-height: 50px;
    padding-right: 30px;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.Back{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    background-color: var(--bg-black-50);
    padding: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60px;
    }

.Back:hover{
    transform: scale(1.1);
}
.UpSection .Title{
    font-size: 20px;
    color: #fff;
    padding: 10px;
}

.MidSection .Title h1{
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
    color: #fff;
}